
       

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><a href="#" class="button">About</a></li>
       <li><a href="#" class="button">Blog</a></li>
       <li><a href="#" class="button">Contact</a></li>
       <li><a href="#" class="button">Cats</a></li>
      </ul>
    </div>
    <h1>OWEN KELLY!</h1>
    <hr/>
 
       
      <div class="large-9 columns" role="content">
          
        <% @posts.each do |post| %>
          <%= render "post", post: post %>
        <% end %>
        <br>
      </div>

  
     
     
    <aside class="large-3 columns">
      <div>
        <a class="twitter-timeline" href="https://twitter.com/zomgowen" data-widget-id="553780013380562944">Tweets by @zomgowen</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script>twttr.widgets.load()</script>
      </div>

    </aside>


  </div>
</div>

     
       
     
     
       
     
      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Owen Kelly</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>


  

	   




