  <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Owen Kelly</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="https://github.com/owenkelly">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/owenjameskelly">LinkedIn</a></li>
                <li><a href="https://twitter.com/zomgowen">Twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
