<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to "About", about_index_path, class: "button" %></li>
       <li><%= link_to "Blog", posts_path, class: "button" %></li>
       <li><%= link_to "Contact", new_message_path, class: "button" %></li>
       <li><a href="#" class="button">Projects</a></li>
      </ul>
    </div>
    <%= link_to image_tag('owen_kelly_header.jpg'), posts_path %>
  <hr/>